@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@mixin grading($border-width, $border-color, $border-style) {
    &:hover {
        border-width: $border-width;
        border-color: $border-color;
        border-style: $border-style;
        transition: 0s;
    }
}
$NUL: 5px, rgb(66, 66, 66), solid;
$LEG: 5px, rgb(119, 0, 255), solid;
[class*="box_grading_NUL"] {@include grading($NUL...);}
[class*="box_grading_LEG"] {
    @include grading($LEG...);
    color:#66fad5 !important;
}


.photogrid {
    height: 90vh;
    display: flex;
    padding: 10vh 5% 0 5%;
}

.certs_text {
    overflow: scroll;
    list-style-type: none;
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 30%; /* sets initial width to 70% */
    padding: 5%;
}

.certs_image {
    // flex: 2;
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 70%; /* sets initial width to 70% */
    max-width: 50%;
    padding: 5%;
}

// .image:hover {
//     transform: scale(1.1, 1.1);
//     z-index: 1;
//     box-shadow: 0 50px 50px;
//     transition: 1s;
//     overflow: hidden;
//     border-radius: 10px;

// }

@media only screen and (max-width: 900px) {
    .photogrid {
        flex-direction: column-reverse;
    }
    .certs_image {
        flex: 1;
        flex-shrink: unset; /* shrinks to 0 to apply 70% width*/
        flex-basis: unset; /* sets initial width to 70% */
        max-width: 100%;
        // padding-top: 55%;

    }

    .certs_text {
        flex: 2;
        flex-shrink: unset; /* shrinks to 0 to apply 70% width*/
        flex-basis: unset; /* sets initial width to 70% */
    }
  }