@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #262626;
    }
*::selection {
    background-color: black;
    color: black;
}
    
.content {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

// Comments in articles
blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-radius: 5px;
    border: 5px solid white;
    text-align: justify;
    margin: 1rem 0rem;
    p {
        font-size: 1.3rem;
        font-style: italic;
        padding: 1rem;
        color: rgb(255, 216, 143);
    }
}

// TEXT
h1 {
    font-weight: 700;
    font-size: 3.0rem;
    font-family: 'Fira Sans', sans-serif;
    color: orange;
}

h2 {
    font-weight: 400;
    font-size: 2.0rem;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 2.0rem;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255, 227, 151);
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    text-align: justify;
    margin-bottom: 1rem;
    strong {
        color: #9c95ff;
    }
}

li {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: #66fad5;
}

time {
    font-weight: 700;
    font-size: 2.0rem;
    font-family: 'Fira Sans', sans-serif;
    color: hsl(39, 100%, 67%);
}

.indexH3 {
    text-align: center;
    padding: 5% 0;
}

.indexCard {
    border: solid rgb(255, 199, 46) 5px ;
    box-shadow:
    0 0 0 5px rgb(255, 89, 89),
    0 0 0 10px rgb(155, 48, 255)
    ;
    border-radius: 10px;
    ul {
        margin: 20px;
        list-style-type: none;
        padding-inline-start: 0;
        li {
            p {
                color: white;
                font-weight: bold;
            }
            p:hover {
                color: orange;
            }
        } 
    } 
}


.Typewriter__wrapper {
    color: white;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
}

.Typewriter__wrapper b {
    color: orange;
}

.typeWriterDiv {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -10%; // Balances the 10% margin from the layout component
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  


.homeBackground {
    background: fixed url('15.gif');
    // background: fixed url('15.webm');
    // background-repeat: no-repeat;
    width: 100%;
    // height: 100vh;
    background-size: cover;
}

@media (max-width: 1200px) {
    #homeBackground {
        background: url('17.jpg')  ;
        // background: #262626;
        width: 100%;
        // height: 100vh;
        background-size: cover;
    }

    .typeWriterDiv {
        // padding: 100% 5% 150%;
        left: 50%;
        top: 50%;
        // transform: translate(-50%, -50%);

    }

    // TEXT FOR MOBILE (Only changes size)
    h1   { font-size: 2.0rem; }
    h2   { font-size: 1.0rem; }
    h3   { font-size: 1.0rem; }
    p    { font-size: 1.0rem; }
    li   { font-size: 1.0rem; }
    time { font-size: 1.0rem; }

}


